<div class="container" style="text-align: center;">
  <h4 class="jumbotron display-4">Learning Management System</h4>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#">Home</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Courses</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" [routerLink]="['/courses/add']">Add course</a>
        <a class="dropdown-item" [routerLink]="['/courses']">View Courses</a>
        <a class="dropdown-item" [routerLink]="['/batches']">View Batches</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/students']">Students</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/subjects']">Subjects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/teachers']">Teachers</a>
    </li>
  </ul>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>